:root {
  --color-accent: oklch(65% 50% 0);
  --color-border: oklch(80% 3% 200);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
}

nav {
  display: flex;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--color-border);
}

nav ul {
  display: contents;
}

nav li {
  display: contents;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a.current {
  border-bottom: 0.4em solid var(--color-border);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;  
  gap: 1em; 
  max-width: 500px; 
  margin: 0 auto; 
}

form label {
  grid-column: 1 / 2; 
}

form input,
form textarea,
form button {
  display: block; 
  width: 100%; 
  padding: 0.5em; 
  box-sizing: border-box; 
}

form button {
  grid-column: 1 / -1; 
  cursor: pointer; 
  align-self: center; 
}


form textarea {
  height: 150px; 
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article{
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h1 {
  font-size: 3rem;
  color: #CD5E77; 
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.8rem;
  color: #4B4B4B; 
  font-weight: normal;
  margin-bottom: 1.5em;
}

h3, h4 {
  font-size: 1.4rem;
  color: #333;
}

.subtext {
  font-size: 1rem;
  color: #666;
  margin-top: -1em;
  line-height: 1.5;
  font-style: italic;
}
